.comment {
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-left: 3px solid #499bea;

  &__user {
    font-weight: bold;
  }

  &__date {
    font-size: 0.8em;

    color: rgb(95, 95, 95);
  }

  &__comment {
    margin-top: 10px;
  }
}
