
.btn{
    font-family: 'Segoe UI';
    display: inline-block;
    background: black;
    color: white;
    padding: 10px;
    min-width: 95px;
    min-height: 25px;
    margin: 0px auto;
    font-size: 1em !important;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 25px;
    box-shadow: 0px 0px 5px rgb(88, 88, 88);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 300ms all;

    &:hover{
      background: #444;
    }

    &--white{
      color: rgb(88, 88, 88);
      background: white;

      &:hover{
        background: #444;
        color: white;
      }
    }

    &--success{
      background: rgb(23, 150, 19);
      &:hover{
        background: rgb(72, 223, 67);
      }
    }

    &--danger{
      background: rgb(250, 88, 88);
      color: white;
      &:hover{
        background: rgb(255, 158, 158);
      }
    }

    &--warning{
      background: rgb(250, 174, 88);
      color: white;
      &:hover{
        background: rgb(255, 230, 91);
      }
    }
}
